In [2]:
import pandas as pd

In [7]:
expenses = pd.read_csv("expenses.csv")
expenses

,rashod_name,naprvalenie,year,y1,id
0,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
1,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
2,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,163241.45,0
3,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14380.49,0
4,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14462.60,0
...,...,...,...,...,...
14403,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,8419.16,2508
14404,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,7989.20,2508
14405,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,6699.74,2508
14406,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,36941.96,2508
14407,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,59256.03,2508

In [12]:
expenses.dropna(subset=['y1'], inplace=True)
expenses

,rashod_name,naprvalenie,year,y1,id
0,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
1,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
2,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,163241.45,0
3,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14380.49,0
4,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14462.60,0
...,...,...,...,...,...
14403,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,8419.16,2508
14404,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,7989.20,2508
14405,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,6699.74,2508
14406,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,36941.96,2508
14407,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,59256.03,2508

In [8]:
list_df = pd.read_csv("list.csv")
list_df

,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter,otdel,city,id,ids_row
0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1.638812e+06,937438.23,591497.66,1.047315e+06,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск,0,04-07-01-00-00-003
1,"административное здание, 676014, амурская обла...",1978,27.12.1990,389.1,389.1,1.050735e+06,771306.47,446494.59,6.042402e+05,Удовлетворительное,2016,1,Отделение Благовещенск,Сковородино,1,04-01-06-00-00-005
2,"административное здание, лит. а, а1, 676980, к...",1959,27.12.1990,237.7,237.7,1.267112e+05,53749.02,93108.95,3.360228e+04,Удовлетворительное,2016,1,Отделение Благовещенск,Константиновка,2,04-01-09-00-00-007
3,"административное здание, 676530, амурская обла...",1935,27.12.1990,830.2,830.2,1.657841e+06,0.00,1657840.58,0.000000e+00,Ветхое,2016,1,Отделение Благовещенск,Новокиевский Увал,3,04-01-03-00-00-008
4,"административное здание, 675000, амурская обла...",1958,14.02.1992,403.9,403.9,3.038926e+05,162432.93,208772.46,9.512017e+04,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск,4,04-01-01-00-00-009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11412,"ркц, чукотский автономный округ, р-н анадырски...",1991,01.01.1991,513.0,0.0,5.010097e+06,1892900.30,2341139.51,2.668958e+06,Удовлетворительное,2023,3,Отделение Анадырь,пгт Беринговский,2398,79-01-03-036
11413,"административное здание, российская федерация,...",2001,01.01.2001,2690.2,0.0,2.076046e+08,10444758.74,45153764.60,1.624508e+08,Хорошее,2023,3,Отделение Анадырь,городской округ Анадырь,2399,79-01-01-039
11414,"пристройка к тп № 2, российская федерация, чук...",1995,01.01.1995,22.9,0.0,8.504830e+05,344633.94,401215.18,4.492678e+05,Хорошее,2023,3,Отделение Анадырь,городской округ Анадырь,2429,79-04-01-042
11415,"здание ркц, российская федерация, чукотский ав...",1987,01.01.1990,546.3,0.0,1.103891e+07,9526978.74,3668172.74,7.370742e+06,Хорошее,2023,3,Отделение Анадырь,городское поселение Билибино,2430,79-01-01-043
11416,"пункт резервного энергоснабжения , чукотский а...",1997,01.01.1997,96.3,0.0,3.167024e+06,78402.86,987875.69,2.179149e+06,Хорошее,2023,3,Отделение Анадырь,пгт Беринговский,2402,79-04-03-045

In [13]:
kr_ks_tp = pd.read_csv("kr_ks_tp.csv")
kr_ks_tp

,Column1,Column2,Column3,Column4,Column5,ids_row
0,"16. помещение объект № 2 (вспомогательный), г...",260.0,2019.0,"Текущий ремонт зданий, сооружений",0.0,NaN
1,"14.помещение объект № 2 (вспомогательный), г....",287.0,2020.0,"Текущий ремонт зданий, сооружений",0.0,04-07-01-00-00-003
2,"3.помещение объект № 2 (вспомогательный), г. ...",135.0,2022.0,"Текущий ремонт зданий, сооружений",0.0,04-07-01-00-00-003
3,"помещение объект № 2 (вспомогательный), г. бл...",231.0,2021.0,"Текущий ремонт зданий, сооружений",0.0,04-07-01-00-00-003
4,"помещение объект № 2 (вспомогательный), г. бл...",353.06,2023.0,"Текущий ремонт зданий, сооружений",0.0,04-07-01-00-00-003
...,...,...,...,...,...,...
361,NaN,NaN,NaN,NaN,NaN,NaN
362,NaN,NaN,NaN,NaN,NaN,NaN
363,NaN,NaN,NaN,NaN,NaN,NaN
364,NaN,NaN,NaN,NaN,NaN,NaN
365,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
kr_ks_tp.dropna(inplace=True)
kr_ks_tp['Column5'] = kr_ks_tp['Column5'].astype(int)
kr_ks_tp

,Column1,Column2,Column3,Column4,Column5,ids_row
1,"14.помещение объект № 2 (вспомогательный), г....",287.0,2020.0,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
2,"3.помещение объект № 2 (вспомогательный), г. ...",135.0,2022.0,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
3,"помещение объект № 2 (вспомогательный), г. бл...",231.0,2021.0,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
4,"помещение объект № 2 (вспомогательный), г. бл...",353.06,2023.0,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
8,"11. административное здание, г. благовещенск,...",592.0,2020.0,"Текущий ремонт зданий, сооружений",22,04-01-02-00-01-001
...,...,...,...,...,...,...
322,"8. административное здание, приморский край, г...",3856.97,2022.0,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
323,"административное здание, г. владивосток, светл...",105.99,2021.0,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
324,"административное здание, г. владивосток, светл...",451.19,2021.0,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
325,"административное здание, г.владивосток, светла...",86.93,2023.0,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
326,3.теплая стоянка с медсанчастью реестр. 59-05-...,0.0,2022.0,"Текущий ремонт зданий, сооружений",1591,59-05-01-00-03-048

In [20]:
expenses.rename({'ids_row': "id"}, inplace=True, axis=1)
expenses

,rashod_name,naprvalenie,year,y1,id
0,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
1,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
2,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,163241.45,0
3,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14380.49,0
4,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14462.60,0
...,...,...,...,...,...
14403,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,8419.16,2508
14404,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,7989.20,2508
14405,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,6699.74,2508
14406,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,36941.96,2508
14407,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,59256.03,2508

In [26]:
expenses = expenses.merge(list_df, on=["year", "id"], how="inner")

In [27]:
# dicts technical_condition otdel city rashod_name
# drop naprvalenie object_name ids_row
expenses

,rashod_name,naprvalenie,year,y1,id,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,quarter,otdel,city,ids_row
0,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
1,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,596414.09,1042398.12,Удовлетворительное,2,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
2,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,601330.52,1037481.69,Удовлетворительное,3,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
3,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,606246.95,1032565.26,Удовлетворительное,4,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
4,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29476,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,8779.34,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019
29477,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,1847.78,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019
29478,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,751.40,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019
29479,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,1249.12,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019
29480,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,234.33,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019

In [29]:
expenses = expenses.drop(columns=["naprvalenie", "naprvalenie", "object_name", "ids_row"])
expenses

,rashod_name,year,y1,id,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,quarter,otdel,city
0,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск
1,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,596414.09,1042398.12,Удовлетворительное,2,Отделение Благовещенск,Благовещенск
2,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,601330.52,1037481.69,Удовлетворительное,3,Отделение Благовещенск,Благовещенск
3,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,606246.95,1032565.26,Удовлетворительное,4,Отделение Благовещенск,Благовещенск
4,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29476,Оплата всех видов отопления зданий и сооружени...,2021,8779.34,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан
29477,Оплата всех видов отопления зданий и сооружени...,2021,1847.78,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан
29478,Оплата всех видов отопления зданий и сооружени...,2021,751.40,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан
29479,Оплата всех видов отопления зданий и сооружени...,2021,1249.12,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан
29480,Оплата всех видов отопления зданий и сооружени...,2021,234.33,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан

In [31]:
rashod_names = expenses['rashod_name'].to_list()
rashod_names_dict = {rashod_names[i]: i for i in range(len(rashod_names))}

technical_conditions = expenses["technical_condition"].to_list()
technical_conditions_dict = {technical_conditions[i]: i for i in range(len(technical_conditions))}

otdels = expenses["otdel"].to_list()
otdels_dict = {otdels[i]: i for i in range(len(otdels))}

city = expenses["city"].to_list()
city_dict = {city[i]: i for i in range(len(city))}

expenses["rashod_name"] = expenses["rashod_name"].map(rashod_names_dict)
expenses["technical_condition"] = expenses["technical_condition"].map(technical_conditions_dict)
expenses["otdel"] = expenses["otdel"].map(otdels_dict)
expenses["city"] = expenses["city"].map(city_dict)
expenses

,rashod_name,year,y1,id,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,quarter,otdel,city
0,27751,2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,29480,1,28240,5412
1,27751,2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,596414.09,1042398.12,29480,2,28240,5412
2,27751,2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,601330.52,1037481.69,29480,3,28240,5412
3,27751,2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,606246.95,1032565.26,29480,4,28240,5412
4,27751,2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,29480,1,28240,5412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29476,29480,2021,8779.34,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,29480,4,29480,29480
29477,29480,2021,1847.78,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,29480,4,29480,29480
29478,29480,2021,751.40,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,29480,4,29480,29480
29479,29480,2021,1249.12,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,29480,4,29480,29480
29480,29480,2021,234.33,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,29480,4,29480,29480

In [32]:
expenses.to_csv("final.csv", index=False)