In [24]:
import pandas as pd
import numpy as np

In [46]:
test = pd.read_csv("test.csv")
test

,Наименование вида расходов,Направление расходов,Дата платежа,Отнесено,id
0,Электроэнергия,134.1000.01 Благовещенск. Оплата потребления э...,2022,NaN,0
1,Электроэнергия,134.1000.01 Благовещенск. Оплата потребления э...,2022,NaN,0
2,Электроэнергия,134.1000.01 Благовещенск. Оплата потребления э...,2022,NaN,0
3,Электроэнергия,134.1000.01 Благовещенск. Оплата потребления э...,2022,NaN,0
4,Электроэнергия,134.1000.01 Благовещенск. Оплата потребления э...,2022,NaN,0
...,...,...,...,...,...
4507,Водоснабжение,ЗО 134.1000.03 Столовая П-Камчатский Расходы п...,2023,NaN,1711
4508,Водоснабжение,ЗО 134.1000.03 Столовая Хабаровск Оплата за во...,2023,NaN,1711
4509,Водоснабжение,ЗО 134.1000.03 Столовая ХБ Оплата за горячее в...,2023,NaN,1711
4510,Водоснабжение,ЗО 134.1000.03 Столовая ХБ Оплата за холодное ...,2023,NaN,1711
4511,Водоснабжение,ЗО 134.1000.03 Хабаровск Оплата за водоотведен...,2023,NaN,1711

In [47]:
df = pd.read_csv("test_data2.csv")

In [48]:
df.rename({'Дата платежа': "year"}, axis=1, inplace=True)
df

,Наименование вида расходов,Направление расходов,year,Отнесено
0,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,NaN
1,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,NaN
2,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,NaN
3,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,NaN
4,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,NaN
...,...,...,...,...
4507,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,NaN
4508,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,NaN
4509,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,NaN
4510,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,NaN
4511,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,NaN

In [49]:
df.drop(columns="Отнесено", inplace=True)
df

,Наименование вида расходов,Направление расходов,year
0,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022
1,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022
2,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022
3,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022
4,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022
...,...,...,...
4507,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023
4508,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023
4509,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023
4510,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023
4511,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023

In [50]:
df['id'] = np.nan
df

,Наименование вида расходов,Направление расходов,year,id
0,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,NaN
1,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,NaN
2,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,NaN
3,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,NaN
4,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,NaN
...,...,...,...,...
4507,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,NaN
4508,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,NaN
4509,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,NaN
4510,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,NaN
4511,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,NaN

In [51]:
for name in df['Направление расходов'].unique():
    obj = test.loc[test['Направление расходов'] == name].iloc[0]
    df.loc[df['Направление расходов'] == name, 'id'] = obj['id']
df

,Наименование вида расходов,Направление расходов,year,id
0,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,2245.0
1,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,2245.0
2,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,2245.0
3,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,2245.0
4,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,2245.0
...,...,...,...,...
4507,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,2305.0
4508,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,2189.0
4509,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,2307.0
4510,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,2308.0
4511,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,2311.0

In [52]:
df['id'] = df['id'].astype(int)
df
# 4512

,Наименование вида расходов,Направление расходов,year,id
0,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,2245
1,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,2245
2,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,2245
3,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,2245
4,Электроэнергия,134.1000.01 ДГУ. Оплата за электроэнергию по т...,2022,2245
...,...,...,...,...
4507,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,2305
4508,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,2189
4509,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,2307
4510,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,2308
4511,Коммунальные услуги (расходы прошлых лет),134.1000.05 Якутия Оплата потребления газа ул....,2023,2311

In [53]:
list_df = pd.read_csv("list.csv")

df = df.merge(list_df, on=['id', 'year'], how="inner")

In [54]:
df.drop(columns=["Направление расходов", "object_name", "ids_row", "balance_date"], inplace=True)
df

,Наименование вида расходов,year,id,building_year,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,quarter,otdel,city
0,Электроэнергия,2022,2245,2004,254.0,0.0,2.376797e+07,0.00,0.00,0.00,Удовлетворительное,4,Отделение Анадырь,Владивосток
1,Электроэнергия,2022,2245,2004,254.0,0.0,2.376797e+07,0.00,0.00,0.00,Удовлетворительное,4,Отделение Анадырь,Владивосток
2,Электроэнергия,2022,2245,2004,254.0,0.0,2.376797e+07,0.00,0.00,0.00,Удовлетворительное,4,Отделение Анадырь,Владивосток
3,Электроэнергия,2022,2245,2004,254.0,0.0,2.376797e+07,0.00,0.00,0.00,Удовлетворительное,4,Отделение Анадырь,Владивосток
4,Электроэнергия,2022,2245,2004,254.0,0.0,2.376797e+07,0.00,0.00,0.00,Удовлетворительное,4,Отделение Анадырь,Владивосток
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2617,Газ,2023,2441,1985,1045.8,0.0,1.808955e+07,8569456.45,5253199.63,12836352.17,Удовлетворительное,2,Отделение Анадырь,"городской округ ""город Якутск"""
2618,Газ,2023,2441,1985,1045.8,0.0,1.808955e+07,8569456.45,5253199.63,12836352.17,Удовлетворительное,2,Отделение Анадырь,"городской округ ""город Якутск"""
2619,Газ,2023,2441,1985,1045.8,0.0,1.808955e+07,8569456.45,5253199.63,12836352.17,Удовлетворительное,2,Отделение Анадырь,"городской округ ""город Якутск"""
2620,Газ,2023,2441,1985,1045.8,0.0,1.808955e+07,8569456.45,5253199.63,12836352.17,Удовлетворительное,2,Отделение Анадырь,"городской округ ""город Якутск"""
2621,Газ,2023,2441,1985,1045.8,0.0,1.808955e+07,8569456.45,5253199.63,12836352.17,Удовлетворительное,2,Отделение Анадырь,"городской округ ""город Якутск"""

In [55]:
rashod_names = df['Наименование вида расходов'].to_list()
rashod_names_dict = {rashod_names[i]: i for i in range(len(rashod_names))}

technical_conditions = df["technical_condition"].to_list()
technical_conditions_dict = {technical_conditions[i]: i for i in range(len(technical_conditions))}

otdels = df["otdel"].to_list()
otdels_dict = {otdels[i]: i for i in range(len(otdels))}

city = df["city"].to_list()
city_dict = {city[i]: i for i in range(len(city))}

df["Наименование вида расходов"] = df["Наименование вида расходов"].map(rashod_names_dict)
df["technical_condition"] = df["technical_condition"].map(technical_conditions_dict)
df["otdel"] = df["otdel"].map(otdels_dict)
df["city"] = df["city"].map(city_dict)
df

,Наименование вида расходов,year,id,building_year,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,quarter,otdel,city
0,2613,2022,2245,2004,254.0,0.0,2.376797e+07,0.00,0.00,0.00,2621,4,2621,2212
1,2613,2022,2245,2004,254.0,0.0,2.376797e+07,0.00,0.00,0.00,2621,4,2621,2212
2,2613,2022,2245,2004,254.0,0.0,2.376797e+07,0.00,0.00,0.00,2621,4,2621,2212
3,2613,2022,2245,2004,254.0,0.0,2.376797e+07,0.00,0.00,0.00,2621,4,2621,2212
4,2613,2022,2245,2004,254.0,0.0,2.376797e+07,0.00,0.00,0.00,2621,4,2621,2212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2617,2621,2023,2441,1985,1045.8,0.0,1.808955e+07,8569456.45,5253199.63,12836352.17,2621,2,2621,2621
2618,2621,2023,2441,1985,1045.8,0.0,1.808955e+07,8569456.45,5253199.63,12836352.17,2621,2,2621,2621
2619,2621,2023,2441,1985,1045.8,0.0,1.808955e+07,8569456.45,5253199.63,12836352.17,2621,2,2621,2621
2620,2621,2023,2441,1985,1045.8,0.0,1.808955e+07,8569456.45,5253199.63,12836352.17,2621,2,2621,2621
2621,2621,2023,2441,1985,1045.8,0.0,1.808955e+07,8569456.45,5253199.63,12836352.17,2621,2,2621,2621

In [58]:
import tensorflow as tf

model = tf.keras.models.load_model("Model")

x = np.array(df)

y = model.predict(x)

82/82 [==============================] - 0s 667us/step

In [59]:
ans = []
for i in y:
    ans.append(i[0])
ans

[80336.234,
 80336.234,
 80336.234,
 80336.234,
 80336.234,
 80336.234,
 80336.234,
 80336.234,
 80336.234,
 80336.47,
 80336.47,
 80336.47,
 80336.47,
 80336.47,
 80336.47,
 80336.47,
 80336.25,
 80336.25,
 80336.25,
 80336.25,
 80336.25,
 80336.25,
 80336.25,
 80336.25,
 80336.25,
 80336.25,
 80336.25,
 80336.25,
 80336.25,
 80336.25,
 80336.266,
 80336.266,
 80336.25,
 80336.25,
 80336.25,
 80336.99,
 80336.99,
 80336.99,
 80336.99,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.0,
 2079522.6,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.5,
 1970908.4,
 2079523.0,
 2024121.5,
 1970908.4,
 2079523.0,
 2024121.5,
 1970908.4,
 2079523.0,
 2024121.5,
 1970908.4,
 2079523.0,
 2024121.5,
 1970908.4,
 2079523.0,
 2024121.5,
 1970908.4,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.2,
 1970908.0,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079522.6,
 2024121.2,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.0,
 2079522.6,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.0,
 2024121.4,
 1970908.2,
 2079523.2,
 2024121.8,
 1970908.6,
 44936.53,
 44908.38,
 44880.23,
 44936.53,
 44908.383,
 44880.24,
 44936.53,
 44908.38,
 44880.23,
 44936.53,
 44908.38,
 44880.23,
 44936.53,
 44908.38,
 44880.23,
 44936.53,
 44908.38,
 44880.23,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.504,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.203,
 44936.504,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.203,
 44936.496,
 44908.355,
 44880.2,
 44936.496,
 44908.355,
 44880.2,
 44936.62,
 44908.473,
 44880.32,
 44936.62,
 44908.473,
 44880.32,
 44936.62,
 44908.473,
 44880.32,
 44936.62,
 44908.473,
 44880.32,
 1687985.0,
 1722179.6,
 1758625.5,
 1687985.0,
 1722179.6,
 1758625.5,
 1687985.0,
 1722179.6,
 1758625.5,
 1687985.0,
 1722179.6,
 1758625.5,
 1687995.4,
 1722191.8,
 1758637.2,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687995.4,
 1722191.6,
 1758637.2,
 1687995.4,
 1722191.6,
 1758637.2,
 1687995.4,
 1722191.6,
 1758637.2,
 1687995.4,
 1722191.6,
 1758637.2,
 1687995.4,
 1722191.6,
 1758637.2,
 1687985.0,
 1722179.6,
 1758625.5,
 1687985.0,
 1722179.6,
 1758625.5,
 1688000.1,
 1722197.0,
 1758642.8,
 1688000.0,
 1722197.0,
 1758642.8,
 1688000.0,
 1722197.0,
 1758642.8,
 1688000.0,
 1722197.0,
 1758642.8,
 1688000.0,
 1722197.0,
 1758642.8,
 1688000.0,
 1722197.0,
 1758642.8,
 1688000.0,
 1722197.0,
 1758642.8,
 1688000.0,
 1722197.0,
 1758642.8,
 1688000.0,
 1722197.0,
 1758642.8,
 1688000.0,
 1722197.0,
 1758642.8,
 1688000.0,
 1722197.0,
 1758642.5,
 1687995.4,
 1722191.6,
 1758637.2,
 1687995.4,
 1722191.6,
 1758637.2,
 1687995.4,
 1722191.6,
 1758637.2,
 1687995.4,
 1722191.6,
 1758637.2,
 1687995.4,
 1722191.6,
 1758637.2,
 1687995.4,
 1722191.6,
 1758637.2,
 1687995.4,
 1722191.6,
 1758637.2,
 1687995.4,
 1722191.6,
 1758637.2,
 1687995.4,
 1722191.6,
 1758637.2,
 1687995.4,
 1722191.6,
 1758637.2,
 1687995.4,
 1722191.8,
 1758637.2,
 1687995.4,
 1722191.6,
 1758637.2,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.2,
 1687999.5,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.0,
 1687999.8,
 1722196.5,
 1758642.2,
 1687999.8,
 1722196.5,
 1758642.0,
 36952.457,
 36923.363,
 36894.273,
 36952.457,
 36923.363,
 36894.273,
 36952.457,
 36923.363,
 36894.273,
 36952.457,
 36923.363,
 36894.273,
 36952.457,
 36923.363,
 36894.273,
 36952.457,
 36923.363,
 36894.273,
 36952.457,
 36923.363,
 36894.273,
 36952.457,
 36923.363,
 36894.273,
 36952.457,
 36923.363,
 36894.273,
 36952.8,
 36923.707,
 36894.625,
 36952.8,
 36923.72,
 36894.625,
 36952.8,
 36923.72,
 36894.625,
 36952.8,
 36923.72,
 36894.625,
 36952.8,
 36923.72,
 36894.625,
 36952.8,
 36923.72,
 36894.625,
 36952.8,
 36923.72,
 36894.625,
 36952.8,
 36923.72,
 36894.625,
 3003015.2,
 3084109.5,
 3165202.8,
 3003015.2,
 3084109.5,
 3165202.8,
 3003015.2,
 3084109.5,
 3165202.8,
 3003015.2,
 3084109.5,
 3165202.8,
 3003015.2,
 3084109.5,
 3165202.8,
 3003015.2,
 3084109.5,
 3165202.8,
 3003015.2,
 3084109.5,
 3165202.8,
 3003015.2,
 3084109.5,
 3165202.8,
 3003015.2,
 3084109.5,
 3165202.8,
 3003015.2,
 3084109.5,
 3165202.8,
 3003011.2,
 3084104.5,
 3165198.5,
 3003011.2,
 3084104.5,
 3165198.5,
 3003011.2,
 3084104.5,
 3165198.5,
 3003011.2,
 3084104.8,
 3165198.8,
 3003011.2,
 3084104.5,
 3165198.5,
 3003011.2,
 3084104.5,
 3165198.5,
 3003011.2,
 3084104.5,
 3165198.5,
 3003011.2,
 3084104.5,
 3165198.5,
 3003011.2,
 3084104.5,
 3165198.5,
 3003011.2,
 3084104.5,
 3165198.5,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084108.8,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084108.8,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 3003014.8,
 3084109.2,
 3165202.8,
 36733.7,
 36701.695,
 36669.688,
 36733.7,
 36701.695,
 36669.688,
 36733.7,
 36701.695,
 36669.688,
 36733.695,
 36701.69,
 36669.688,
 36733.7,
 36701.695,
 36669.688,
 36733.7,
 36701.695,
 36669.688,
 36733.7,
 36701.695,
 36669.688,
 36733.7,
 36701.695,
 36669.688,
 36733.7,
 36701.695,
 36669.688,
 36733.7,
 36701.695,
 36669.688,
 126800.15,
 127215.484,
 124648.4,
 126800.15,
 127215.484,
 124648.4,
 126800.15,
 127215.484,
 124648.4,
 126800.15,
 127215.484,
 124648.39,
 126800.16,
 127215.484,
 124648.4,
 126800.15,
 127215.484,
 124648.4,
 126800.15,
 127215.484,
 124648.4,
 126800.15,
 127215.484,
 124648.4,
 126800.15,
 127215.484,
 124648.4,
 126800.15,
 127215.484,
 124648.4,
 126800.375,
 127215.72,
 124648.64,
 126800.375,
 127215.72,
 124648.64,
 126800.375,
 127215.72,
 124648.64,
 126800.375,
 127215.72,
 124648.64,
 126800.375,
 127215.72,
 124648.64,
 126800.375,
 127215.72,
 124648.64,
 126800.375,
 127215.72,
 124648.64,
 126800.375,
 127215.72,
 124648.64,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.164,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.44,
 126800.164,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.44,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 126800.17,
 127215.516,
 124648.43,
 1206253.0,
 1239597.0,
 1272940.6,
 1206253.0,
 1239597.0,
 1272940.6,
 1206253.0,
 1239597.0,
 1272940.6,
 1206253.0,
 1239597.0,
 1272940.6,
 1206253.0,
 1239597.0,
 1272940.6,
 1206253.0,
 1239597.0,
 1272940.6,
 1206253.1,
 1239597.0,
 1272940.6,
 1206253.0,
 1239597.0,
 1272940.6,
 1206253.0,
 1239597.0,
 1272940.6,
 1206253.0,
 1239597.0,
 1272940.6,
 1206253.0,
 1239597.0,
 1272940.6,
 1206248.5,
 1239592.4,
 1272935.9,
 1206248.5,
 1239592.4,
 1272935.9,
 1206248.5,
 1239592.4,
 1272935.9,
 1206248.5,
 1239592.4,
 1272935.9,
 1206248.5,
 1239592.4,
 1272935.9,
 1206248.5,
 1239592.4,
 1272936.0,
 1206248.5,
 1239592.4,
 1272935.9,
 1206248.5,
 1239592.4,
 1272935.9,
 1206248.5,
 1239592.4,
 1272935.9,
 1206248.5,
 1239592.4,
 1272935.9,
 1206248.5,
 1239592.4,
 1272935.9,
 1206252.6,
 1239596.5,
 1272940.0,
 1206252.6,
 1239596.5,
 1272940.0,
 1206252.6,
 1239596.5,
 1272940.0,
 1206252.6,
 1239596.5,
 1272940.0,
 1206252.6,
 1239596.5,
 1272940.0,
 1206252.6,
 1239596.4,
 1272940.2,
 1206252.6,
 1239596.5,
 1272940.0,
 1206252.6,
 1239596.5,
 1272940.0,
 1206252.6,
 1239596.5,
 1272940.0,
 1206252.6,
 1239596.5,
 1272940.0,
 1206252.6,
 1239596.5,
 1272940.0,
 1206252.6,
 1239596.5,
 1272940.0,
 1206252.6,
 1239596.5,
 1272940.0,
 1206252.6,
 1239596.5,
 1272940.0,
 1206252.6,
 1239596.5,
 1272940.0,
 1206252.6,
 1239596.5,
 1272940.0,
 1206252.8,
 1239596.4,
 1272940.0,
 1206252.6,
 1239596.5,
 1272940.0,
 1206252.6,
 1239596.5,
 1272940.0,
 1206252.6,
 ...]

In [64]:
submit = pd.read_csv("test_data.csv")
submit['Отнесено'] = ans
submit.to_csv("test_data.csv", index=False)